<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('nav_login.ejs') %>
    
    <body class="grey-bg">
        <div class="white-bg">
            <div class="content">
                <h2 style="font-weight: bold; padding-top: 30px;" ><a href="/list" style="text-decoration: none; color: #2978B5;">FC Stagram</a></h2>
                <br>
                <div class="content-parent">
                    <% for(let i = 0;i< result.length ;i++){ %>
                        <div class="content-box">
                            <h4 style="font-weight: bold;"><% result[i].title %></h4>
                            <br>
                            <a href="/detail/<%= result[i]._id %>" style="text-decoration: none;"><img src="<%= result[i].img %>" style="object-fit:fill;"></a>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class = "container mt-5">  
                <form class="container my-5 form-group">
                    <h4 style="font-weight: bold;">랭킹</h4>
    
                </form>
                <ul class="list">
                    <li class="tab-button orange">브롤 스타즈</li>
                    <li class="tab-button">발로란트</li>
                    <li class="tab-button">피파 모바일</li>
                </ul>
                <div class="tab-content show ">
                    <p>1. 폴티처</p>
                    <p>2. 정우진</p>
                    <p>3. 김규담</p>
                    <p>4. 김준서</p>
                    <p>5. 정 준</p>
                    <p>6. 우세준</p>
                    <p>7. 최승우</p>
                    <p>8. 배서우</p>
                    <p>9. 김민재</p>
                    <p>10. 강태인</p>
                    <p>11. 김도한</p>
                    <p>12. 정연창</p>
                    <p>13. 강라현</p>
                    <p>14. 안서준</p>
                    <p>15. 이건영</p>
                    <p>16. 백시우</p>
                    <p>17. 박범준</p>
                </div>
                <div class="tab-content">
                    <p>1. 조승욱</p>
                    <p>2. 정 준</p>
                    <p>3. 정인우</p>
                    <p>4. 배서우</p>
                    <p>5. 김민재</p>
                    <p>6. 우세준</p>
                    <p>7. 폴티처</p>
                    <p>8. 이건영</p>
                    <p>9. 김도한</p>
                    <p>10. 최승우</p>
    
                </div>
                <div class="tab-content">
                    <p>1. 폴티처</p>
                    <p>2. 김규담</p>
                    <p>3. 배서우</p>
                    <p>4. 우세준</p>
                    <p>5. 김민재</p>
                    <p>6. 안서준</p>
                    <p>7. 김도한</p>
                    <p>8. 정 준</p>
                    <p>9. 강태인</p>
                    <p>10. 김준서</p>
                    <p>11. 조승욱</p>
                    <p>12. 박범준</p>
                    <p>13. 강라현</p>
    
                </div>
        
            </div>
    <script>
        var button = $('.tab-button'); // findSeletor 기능을 많이 쓰면 비효율적이기 때문에 한번만 찾도록 변수에 저장해놓고 쓰는게 좋음.
        var content = $('.tab-content');
        var buttoncount = $('.tab-button').length;

        $('.list').click(function(e){
            if(e.target == document.querySelectorAll('.tab-button')[0]){
                탭열기(0);
            }
            if(e.target == document.querySelectorAll('.tab-button')[1]){
                탭열기(1);
            }
            if(e.target == document.querySelectorAll('.tab-button')[2]){
                탭열기(2);
            }
        })

        // 함수로 축약하는 경우 변수같은게 있으면 파라미터로 바꾸는게 좋음.
        function 탭열기(숫자){
            button.removeClass('orange');
            button.eq(숫자).addClass('orange');
            content.removeClass('show');
            content.eq(숫자).addClass('show');
        }
    </script>
    <script>
        document.querySelectorAll('.content-box')[0].addEventListener('click', function(e){

        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>