
body {
  padding-top:70px;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;

  /* 생략 */
}
.nav {
  display: flex;
  padding: 15px;
  align-items: center;
  background : white;
}
.nav a {
  margin-right: 10px;
}
.logo {
  font-weight: bold;
}
.grey-bg {
  background: #eee;
}
.white-bg {
  background: white;
  margin: 20px;
  border-radius: 5px;
}
.list-box {
  padding : 10px;
  border-bottom: 1px solid#eee;
}
.list-box a{
  text-decoration: none;
}
.list-title{
  color: black;
  font-weight:bold;
  text-decoration: none;

}
.list-box p{
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-title a{
  max-width: 200px;
  color: black;
  font-weight:bold;
  text-decoration: none;
}
.list-edit a{
  text-decoration: none;
}
.list-box h4{
  font-size: 16px;
  margin: 5px;
}
.list-box h5{
  font-weight: bold;
  color:skyblue;
}
.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}

.list-box img{
  width: 200px;
  height: 200px;
}
input,div {
  box-sizing: border-box;
}
.form-box {
  background : white;
  padding : 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding : 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
}
.content{
  margin-top: 30px;
  background-color: #F1F3F580;
  text-align: center;
}
.content-parent{
  display: flex;
}
.content-box{
  flex: 1;
  width: 400px;
  margin-top: 10px;
  padding: 20px;
}
.content-box img{
  width: 70%;
  height: 70%;
}
.detail-bg {
  background: white;
  padding: 15px;
  margin-top: 10px;
}
.detail-bg img{
  width: 300px;
  height: 300px;
}
.write-btn{
  text-align: right;
  margin-right: 30px;
  padding-top: 20px;
}
.write-btn a{
  color: #eee;
  text-decoration: none;
}
.search{
  margin-left: 5px;
  padding: 5px;
}
.search-send{
  padding: 6px 10px;
  background: lightgrey;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  color: black;
}
.parent {
    display: flex;
}
.child {
    flex: 1;
}

.chat-screen { width: 100%; }
.chat-box { margin-top: 15px; display: flex; }
.chat-name{
  font-weight: bold;
  margin-top: 15px; display: flex;
  padding: 10px;
}

.chat-box span { padding: 10px; background: lightgrey; }
.mine { justify-content: end; }
.chat-input {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}
.chat-button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
}
.myname{
  font-weight: bold;
  font-size: 20px;
  padding-right: 30px;
  text-align: right;
}
.mypage-box{
  display: flex;
  flex: 1;
}
.mypage-list-title p{
  font-weight: bold;
  font-size: 20px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mypage-list-title a{
  color: black;
}